<!-- <form action="answer">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form> -->
<h1>Stupid Coaching</h1>
<dir class="banner" padding=20>
<p bold><%= params[:ask] %></p>
<p>- You</p>
</dir>
<dir class="banner"  padding=20>
<p ><%= @answer %></p>
<p>- Your Coach</p>
</dir>
<%= link_to "Ask a new question", ask_path %>
